/* Contenedor general */
.home-wrapper {
  text-align: center;
  padding-top: 30px;
}

/* LOGO */
.home-logo {
  width: 400px;
  max-width: 60%;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
}

.brand-title {
  font-size: 28px;
  font-weight: bold;
}

.brand-subtitle {
  font-size: 16px;
  margin-bottom: 30px;
}

/* PORTADA */
.cover-section {
  margin-top: 20px;
}

.home-cover{
  width: 500px !important;          /* mucho más pequeña */
  max-width: 60% !important;    /* límite máximo */
  min-width: 1000px !important;    /* no se hace demasiado pequeña */
  height: auto ;
  border-radius: 12px !important;
  display: block !important;
  margin: 0 auto 40px auto !important;
  object-fit: cover !important;
}
